<div class="layout">
  <h3 class="layout-row justify-content-left">List Users</h3>
  <app-confirmation-message *ngFor="let message of confirmationMessages; let i = index" [confirmationMessage]="message" [onClose]="closeConfirmationMessage.bind(this)"></app-confirmation-message>
 
  <div class="layout-row justify-content-end my-10">
    <section class="layout-row align-items-center">
      <i class="material-icons">search</i>
      <input type="text" class="white large" id="user-list__filter" placeholder="Filtrar por nombre" [(ngModel)]="filter">
    </section>
  </div>
  <table id="user-list__table">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | filterUserByName: filter; let i = index" id="user-list__table-item-{{i}}">
        <td><img [src]="user.avatar" id="user-list__table-item-{{i}}-avatar"></td>
        <td id="user-list__table-item-{{i}}-first_name">{{user.first_name}}</td>
        <td id="user-list__table-item-{{i}}-email">{{user.email}}</td>
        <td>
          <button class="danger icon-only" id="user-list__table-item-{{i}}-btn-delete" (click)="deleteUser(user.id, user.first_name +' '+ user.last_name)"> <i class="material-icons">delete</i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
